/*
 &display=swap
&subset=cyrillic-ext 
*/
.wrapper {
	background: linear-gradient(180deg, rgb(96, 227, 250), rgb(72, 73, 73), rgb(138, 187, 138));
}

.car__body {
	position: relative;
	top: 100px;
	width: 800px;
	height: 500px;
	margin: 0 auto;
	transform: scale(0.5, 0.5);
	animation: car-go 2s linear 0s 1 normal forwards, car-leave 2s linear 13s 1 normal forwards;
}

@keyframes car-go {
	0% {
		transform: translate(-600px, 100px);
	}
	100% {
		transform: translate(0px, 100px);
	}
}
@keyframes car-leave {
	0% {
		transform: translate(0px, 100px);
	}
	100% {
		transform: translate(2000px, 100px);
		}
}
.car__cabin {
	position: absolute;
	right: 20px;
	top: 80px;
}
.car__drum {
	position: absolute;
	left: 0px;
	top: 0px;
}
.car__chassis {
	position: absolute;
	bottom: 0;
}
.cabin__body {
	width: 250px;
	height: 250px;
	position: relative;
}
.cabin__block1 {
	width: 250px;
	height: 250px;
	background: rgb(98, 98, 182);
	border-radius: 70% 30% 100% 0% / 0% 100% 0% 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #000;
}
.cabin__block2 {
	width: 150px;
	height: 200px;
	background-color: rgb(98, 98, 182);
	border-radius: 70% 30% 100% 0% / 0% 100% 0% 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 1px solid #000;
	z-index: 9;
}
.cabin__driver {
	width: 120px;
	height: 100px;
	background: url("../img/driver.jpg") 0 0 / cover no-repeat;
	border-radius: 70% 30% 100% 0% / 0% 100% 0% 100%;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	border: 1px solid #000;
}
.cabin__window {
	width: 120px;
	height: 100px;
	background: linear-gradient(
		135deg,
		rgba(197, 222, 234, 1) 0%,
		rgba(138, 187, 215, 1) 31%,
		rgba(6, 109, 171, 1) 100%
	);
	border-radius: 70% 30% 100% 0% / 0% 100% 0% 100%;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	border: 1px solid #000;
	animation: window-open 1s linear 2s 1 normal forwards, window-close 1s linear 12s 1 normal forwards;
}

@keyframes window-open {
	0% {
		transform: translate(-50%, 10px);
	}
	100% {
		transform: translate(-50%, 80px);
	}
}
@keyframes window-close {
	0% {

		transform: translate(-50%, 80px);
	}
	100% {
		transform: translate(-50%, 0);
	}
}
.cabin__door {
	width: 140px;
	height: 85px;
	background-color: rgb(98, 98, 182);
	position: absolute;
	bottom: 0;
	left: 0;
}
.cabin__headlights {
	width: 15px;
	height: 50px;
	background: yellow;
	border-radius: 0% 100% 100% 0% / 100% 50% 50% 0%;
	position: absolute;
	bottom: 0;
	right: -12px;
	animation: headlights 3s linear 0s 1 normal forwards, headlights-turn 3s linear 11s 1 normal forwards;
}

@keyframes headlights {
	0% {
		box-shadow: 30px 1px 40px 15px yellow;
	}
	100% {
		box-shadow: none;
	}
}
@keyframes headlights-turn {
	0% {box-shadow: none;
	}
	100% {
		box-shadow: 30px 1px 40px 15px yellow;
		}
}

.drum__drum {
	width: 520px;
	height: 330px;
	background: repeating-linear-gradient(-45deg, #ccc 0 10px, #999 10px 20px);
	border-radius: 15% 85% 15% 85% / 42% 58% 42% 58%;
	border: 1px solid #000;
	animation: drum-open 1s linear 3s 1 normal forwards;
	position: relative;
}
.drum__item {
	width: 75px;
	height: 150px;
	border-radius: 100% 0% 100% 0% / 95% 0% 100% 5%;
	background: radial-gradient(ellipse at center, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
	border: 2px solid #000;
	position: absolute;
	z-index: 13;
}
.drum__barrel {
	width: 520px;
	height: 330px;
	border-radius: 15% 85% 15% 85% / 42% 58% 42% 58%;
	background: repeating-linear-gradient(18deg, rgb(160, 160, 160) 0%, rgb(56, 58, 58) 100%);
	border: 1px solid #000;
	position: absolute;
	z-index: 12;
	animation: barrel-color 0.4s linear 4s 13 normal forwards;
}
@keyframes barrel-color {
	0% {
		background: repeating-linear-gradient(18deg, rgb(160, 160, 160) 0%, rgb(56, 58, 58) 100%);
	}
		100% {
		background: repeating-linear-gradient(18deg, rgb(56, 58, 58), rgb(160, 160, 160));
	}
}

.drum__tray {
	width: 250px;
	height: 10px;
	background: rgb(115, 117, 117);
	border-radius: 10px;
	border: 1px solid #000;
	position: absolute;
	top: 155px;
	left: 10px;
	z-index: 9;
	transform: rotate(30deg);
	transform-origin: top left;
		animation: tray-open 1s linear 3s 1 forwards, tray-close 1s linear 11s 1 forwards;
}

@keyframes tray-open {
	0% {
		transform-origin: top left;
		transform: rotate(0deg);
	}
	100% {
		transform-origin: top left;
		transform: rotate(135deg);
	}
}
@keyframes tray-close{
	0% {
		transform-origin: top left;
		transform: rotate(135deg);
	}

	100% {
		transform-origin: top left;
		transform: rotate(0deg);
	}
}
/*--------------------------------------------------------*/
.drum__cement {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down2 7s linear 4s 1 normal forwards, cement-stop 2s linear 13s 1 normal forwards;
}

@keyframes cement-down2 {
	0% {
		transform: translate(0, 0) scale(1);
		border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	}
	50% {
		transform: translate(-330px, 300px) scale(1);
		border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	}
	100% {
		transform: translate(-330px, 300px) scale(4, 1.5) rotate(45deg);
		border-radius: 18% 82% 18% 82% / 18% 82% 18% 82%;
	}
}
@keyframes cement-stop {
	0% {
		transform: translate(-330px, 300px) scale(4, 1.5) rotate(45deg);
	border-radius: 18% 82% 18% 82% / 18% 82% 18% 82%;
	}		
		100% {
		transform: translate(-2330px, 300px) scale(4, 1.5) rotate(45deg);
		border-radius: 18% 82% 18% 82% / 18% 82% 18% 82%;
	}
}

.drum__cement2 {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down 4s linear 4s 1 normal forwards, cement-stop2 2s linear 13s 1 normal forwards;
}

.drum__cement3 {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down 4s linear 5s 1 normal forwards, cement-stop2 2s linear 13s 1 normal forwards;
}

.drum__cement4 {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down 4s linear 5s 1 normal forwards, cement-stop2 2s linear 13s 1 normal forwards;
}

.drum__cement5 {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down 4s linear 6s 1 normal forwards, cement-stop2 2s linear 13s 1 normal forwards;
}
.drum__cement6 {
	width: 70px;
	height: 70px;
	background: gray;
	border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
	position: absolute;
	top: 10px;
	left: 60px;
	z-index: 10;
	animation: cement-down 4s linear 7s 1 normal forwards, cement-stop2 2s linear 13s 1 normal forwards;
}

@keyframes cement-down {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-330px, 300px);
	}
}
@keyframes cement-stop2 {
	0% {
		transform: translate(-330px, 300px);
	}
	100% {
		transform: translate(-2330px, 300px);
	}
}
/*-----------------------------------------------------------*/
.chassis__body {
	width: 800px;
	height: 170px;
	position: relative;
}
.chassis__frame {
	width: 800px;
	height: 50px;
	background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border-radius: 10px;
	border: 2px solid #000;
}
.wheel {
	width: 150px;
	display: inline-block;
}
.wheel__body {
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
	animation: wheel-rotation 2s linear 0s 1, wheel-rotation 2s linear 13s 1;
}
@keyframes wheel-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(300deg);
	}
}
@keyframes wheel-rotation2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(300deg);
	}
}
.wheel__cricle {
	width: 150px;
	height: 150px;
	background-color: black;
	border-radius: 50%;
	position: relative;
}
.wheel__cricle2 {
	width: 120px;
	height: 120px;
	background: radial-gradient(
		ellipse at center,
		rgba(181, 189, 200, 1) 0%,
		rgba(130, 140, 149, 1) 51%,
		rgba(40, 52, 59, 1) 100%
	);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.wheel__cricle3 {
	width: 20px;
	height: 20px;
	background-color: rgb(27, 24, 24);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: blanchedalmond;
}
.wheel__trapezoid {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: relative;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.wheel__trapezoid2 {
	width: 30px;
	height: 40px;
	background-color: rgb(27, 24, 24);
	border-radius: 50% 50% 50% 50% / 10% 10% 90% 90%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.wheel__trapezoid3 {
	width: 30px;
	height: 40px;
	background-color: rgb(27, 24, 24);
	border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.wheel__trapezoid4 {
	width: 40px;
	height: 30px;
	background-color: rgb(27, 24, 24);
	border-radius: 10% 90% 90% 10% / 50% 50% 50% 50%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.wheel__trapezoid5 {
	width: 40px;
	height: 30px;
	background-color: rgb(27, 24, 24);
	border-radius: 90% 10% 10% 90% / 50% 50% 50% 50%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
}
.chassis__wheel1 {
	position: absolute;
	top: 20px;
	left: 50px;
}
.chassis__wheel2 {
	position: absolute;
	top: 20px;
	left: 300px;
}
.chassis__wheel3 {
	position: absolute;
	top: 20px;
	right: 60px;
}
